*{
    font-family: emoji!important;
    font-weight: 100;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-color: #212121;
    color: white;
    display: flex;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100vh;

    .left-wrap {
        width: 30em;
        padding: 30px;
        background: rgb(64, 64, 64);
        box-shadow: 0 0 20px black;
        font: 15px/2;

        header{
            text-align: center;
            font-weight: 700;
        }
        .commit-message{
            display: flex;
            flex-direction: column;
            text-align: -webkit-center;
            background-color: rgb(94, 94, 94);
            border-radius : 10px;

            header{
                width: 100%;
                text-align: -webkit-left;
                padding: 10px;
                button {
                    border-radius : 10px;
                    border: 1px solid #efefef;
                    background: rgb(94, 94, 94);
                    color: #efefef;
                }
                input{
                    border-radius : 10px;
                    border: 1px solid #efefef;
                    background: rgb(94, 94, 94);
                    color: #efefef;
                }
                #scope{
                    width: 65px;
                    border: 1px solid #efefef;
                    background: rgb(94, 94, 94);
                    color: #efefef;
                }
                #shortSummary{
                    width: 200px;
                }
            }
            .body{
                padding: 10px;
                textarea{
                    width: 100%;
                    border: none;
                    resize: none;
                    padding : 10px;
                }
                #commitBody{
                    height: 180px;
                }
                #commitFooter{
                    margin-top: 10px;
                    height: 90px;
                }
            }
            .footer{
                background: rgb(64, 64, 64);
                padding-top: 10px;
                
                button{
                    background: rgb(64, 64, 64);
                    width: 100%;
                    text-align: left;
                    color: white;
                    border: none;
                    font-size: xx-large;
                }
            }
        }

    }

    .middle-wrap {
        margin: 50px;
        padding: 30px;
        background: rgb(64, 64, 64);
        box-shadow: 0 0 20px black;
        font: 15px/2 Georgia, Serif;
        
        .grid-container{
            display: grid;
            grid-template-columns: 280px;
            grid-gap: 10px;
            .grid-item {
                background-color: rgb(94, 94, 94);
                border-radius: 5px;
                padding: 20px;
                font-size: 150%;
            }
            .grid-item:hover{
                border-color:white;
            }
        }
        @media screen and (min-width: 1200px){
            .grid-container{
                display: grid;
                grid-template-columns: 280px 280px;
                grid-gap: 10px;
                .grid-item {
                    background-color: rgb(94, 94, 94);
                    border-radius: 5px;
                    padding: 20px;
                    font-size: 150%;
                }
                .grid-item:hover{
                    border-color:white;
                }
            }
        }
        @media screen and (min-width: 1500px){
            .grid-container{
                display: grid;
                grid-template-columns: 280px 280px 280px;
                grid-gap: 10px;
                .grid-item {
                    background-color: rgb(94, 94, 94);
                    border-radius: 5px;
                    padding: 20px;
                    font-size: 150%;
                }
                .grid-item:hover{
                    border-color:white;
                }
            }
        }
    }
}

textarea{
    background-color: rgb(94, 94, 94);
    border: none;
    outline: none;
    color: #efefef;
}

.form-check{
    input{
        margin-top: 7px!important;
    }
    label{
        padding-right: 10px;
    }
}

.setting-area{
    display: flex;
    padding: 10px;
}





